html,
body,
.wrap {
  background: #ffffff;
}
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary,
.wp-core-ui .button-primary {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.form-table td,
.form-table th {
  border-bottom-color: #ffffff;
}
#adminmenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
  transition: opacity 300ms ease;
}

#wphead a:link,
#wphead a:visited,
#wphead p,
#footer a:link,
#footer a:visited,
#footer p {
  color: #fe984e;
}
#wpadminbar {
  background-color: #162b54;
}
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  background-color: #435e94;
  transition: all 200ms ease;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background-color: #435e94;
}
#wpcontent,
#wpfooter {
  margin-left: 200px;
}
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  width: 200px;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu a.menu-top:focus + .wp-submenu,
.js #adminmenu .opensub .wp-submenu,
.js #adminmenu .sub-open,
.no-js li.wp-has-submenu:hover .wp-submenu {
  top: 0px;
}

#adminmenu .wp-submenu {
  left: 200px;
}
#adminmenu li:not(.opensub):not(.wp-menu-open):not(.selected) .wp-submenu {
  opacity: 0;
  transition: opacity 300ms ease;
}
#adminmenu .selected {
  background-color: #acbbda;
}
.notice-error,
div.error {
  border-left-color: #e91e63;
}
#adminmenu .wp-submenu a {
  font-size: 14px;
}
.notice,
div.error,
div.updated {
  background-color: #ededed;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}
#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 0;
}
#adminmenu,
#adminmenu,
#adminmenuback,
#adminmenuwrap {
  background-color: #ededed;
}
#adminmenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
.folded #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background-color: #435e94;
}
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu {
  background-color: #435e94;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #ffffff;
}
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top > a:focus {
  color: #ffffff;
  transition: all 200ms ease;
}
#adminmenu div.wp-menu-image:before {
  color: rgba(22, 43, 84, 0.53);
}
#adminmenu a {
  color: #162b54;
}
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
  color: rgba(255, 255, 255, 0.77);
}
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: #435e94;
  color: #ffffff;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
  background-color: #162b54;
}
#adminmenu div.wp-menu-name {
  padding: 9px 0;
}
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #e91e63;
  border: 1px solid;
  background-color: #f7f7f7;
}
@media screen and (max-width: 782px) {
  .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
    color: #e82164;
  }
  .wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
    background-color: #ededed;
  }
}
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color: #ededed;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background-color: #435e94;
}

@media screen and (min-width: 960px) {
  body.auto-fold .edit-post-layout__content {
    margin-left: 200px;
  }
  .auto-fold .components-notice-list {
    left: 200px;
  }
}
